<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="users">
    <% @users.each do |user| %>
      <%= render "table_row", user: user %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, data: { turbo_frame: "form-area" } %>

<%= turbo_frame_tag "form-area" do %>
<% end %>
